* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #535353;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.memory-game {
  
  width: 100%;
  max-width: 1700px;
  height: 700px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: 230px;
  height:  320px;
  margin: clamp(3px, 5px, 6px);
  transform: scale(1);
  transform-style: preserve-3d;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #39444d;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* Centrage des h1 */
h1, h2 {
  text-align: center;
}

/*Gestion des rows et column pour couper la page en 2/3 */
.row {
  display: flex;
}
.column {
  flex: 50%;
}

/* Ajout de padding pour les conteneurs, les mettres plutôt petits */
.container {
  padding: 16px;
  width: 80%;
  margin: auto;
}

/* gestion de la navbar, style normal, des liens et des hovers, ainsi que de la page active */
.topnav {
  background-color: #242323;
  overflow: hidden;
}
.topnav a {
  float: inline-start;
  background-color: #242323;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #a7324f;
  color: white;
}

/* Un bord blanc pour les formulaires */
form {
  border: 3px solid #f1f1f1;
  margin: auto;
}

/* Les champs à remplir, 100% de la taille dispo + focus */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  color: #242323;
  outline: none;
}

/* Style pour les boutons de validations (bouton de base ici) + hover */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

/* Style du bouton annulation + lien */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  text-decoration: none;
}

/* Style pour les tableaux des scors */
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 50%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #a7324f;
  color: white;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}